.summer_pro {
  padding: 100px 0;
  background-color: #fff;
  position: relative;
}
.summer_pro .summer_back {
  background-image: url(../../aseets/hero-slider-4-min.jpg);
  background-size: cover;
  height: 622px;
  background-position: center center;
  display: flex;
  justify-content: center;
  z-index: -10px;
  align-items: center;
  position: relative;
}
.summer_pro .summer_back::after {
  position: absolute;
  content: '';
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  right: 0;
  bottom: 0;
  left: 0;
}
.summer_pro .summer_content {
  text-align: center;
  z-index: 100;
}

.summer_content h6 {
  font-size: 11px;
  color: #fff;
}
.summer_content h1 {
  font-size: 48px;
  margin-bottom: 24px;
  color: #fff;
  font-weight: normal;
}
.summer_content p {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 48px;
  width: 46%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.summer_content button {
  font-weight: bold;
  font-size: 11px;
  padding: 17px 33.1px;
  background-color: #000;
  color: #fff;
  border: none;
  border: 1px solid #000;
  border-radius: 5px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .summer_pro {
    padding: 50px 0;
  }
  .summer_content p {
    width: 100%;
  }
}
